*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: lightslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0,0,0,0,2);

}

.container .left{
    position: relative;
    background: #a98467;
    padding: 40px;
}

.career{
    padding-top: 10px;
}


.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;

}

.profileText .profileImg {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

}

.profileText .profileImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.profileText h2{
    color: black;
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4rem;
}

.profileText h3{
    font-size: 1.3rem;
    font-weight: 300;

}

.info {
    padding: 40px;

}

.title {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4rem;
    margin-bottom: 20px;

}

.info ul{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.info ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 20px;
    color: black;
}

.info ul li span{
    color: black;
    font-weight: 200;
}

.info.education{
    margin-bottom: 15px;

}

.info.education h5{
    color: #fed634;
    font-weight: 500;
}

.info.education h4:nth-child(2){
    color: White;


}

.info .education h4{
    color: violet;
    font-weight: 300;
}

.info.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #f0f0f0;
    display: block;
    margin-top: 5px;
}

.info.language .percent div{
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%;
    background: #22333b;
}

.container .right{
    position: relative;
    background: #ddb892;
    padding: 40px;
}

.about{
    margin-bottom: 50px;

}

.about:last-child{
    margin-bottom: 0px;
}

title2{
    color: #167266;
    text-transform: uppercase ;
    margin-bottom: 10px ;
    align-items: center;
}


.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;

}
.about .box .year_experience{
    min-width: 150px;
}

.about .box .year_experience h5{
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}

.about .box .text h4{
    text-transform: uppercase;
    color: black;
    font-size: 16px;

}

.about achievement{
    color: violet;
    font-weight: 300;
}

.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4{
    text-transform: uppercase;
    color: black;
    font-weight: 500;
}

.skills .box .precent{
    position: relative;
    width: 50%;
    height: 10px;
    background: #a0522d;
}

.skills .box .precent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #4f86ba;
}

.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

@media(max-width: 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }

    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 600px){
    .about .box{
        flex-direction: column;     
    }

    .about .box .year_experience{
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .interest ul{
        grid-template-columns:  repeat(1,1fr);
    }

    .skills .box{
        grid-template-columns:  repeat(1,1fr);
    }
}

